apiVersion: v1
kind: Config
preferences: {}
current-context: k8s_context
clusters:
- cluster:
    certificate-authority-data: {{ k8s_ca | default('') | b64encode }}
    server: {{ k8s_server | default('') }}
  name: k8s_cluster
contexts:
- context:
    cluster: k8s_cluster
    namespace: default
    user: k8s_user
  name: k8s_context
users:
- name: k8s_user
  user:
{% if ( k8s_client_cert is defined and k8s_client_cert | length > 0 ) and ( k8s_client_key is defined and k8s_client_key | length > 0 ) %}
    client-certificate-data: {{ k8s_client_cert | b64encode }}
    client-key-data: {{ k8s_client_key | b64encode }}
    {%- endif %}
{% if ( k8s_username is defined and k8s_username | length > 0 ) and ( k8s_password is defined and k8s_password | length > 0 ) %}
    username: {{ k8s_username }}
    password: {{ k8s_password }}
    {%- endif %}
